$content-width: 1228px;
$section-vertical-padding: 80px;
$section-vertical-padding-md: 40px;
$section-vertical-padding-sm: 20px;


$media-xsm:     660px;
$media-sm:      860px;
$media-md:      1024px;
$media-lg:      $content-width;