<section class="page-footer">
  <div class="inner">
    <footer>
      <div class="footer-left">
        © 2023 Widefix. All rights reserved.
      </div>
      <div class="footer-right">
        <ul>
          <li><a href="https://www.linkedin.com/company/widefix/" target="_blank" rel="nofollow"><img
                src="../img/icons/linkedin.svg" alt="LinkedIn Icon" width="24" height="24" /></a></li>
          <li><a href="https://clutch.co/profile/widefix" target="_blank" rel="nofollow"><img
                src="../img/icons/clutch.svg" alt="Clutch Icon" width="24" height="24" /></a></li>
          <li><a href="https://github.com/widefix" target="_blank" rel="nofollow"><img src="../img/icons/github.svg"
                alt="GitHub Icon" width="24" height="24" /></a></li>
          <li><a href="https://twitter.com/ka8725" target="_blank" rel="nofollow"><img src="../img/icons/twitter.svg"
                alt="Twitter Icon" width="24" height="24" /></a></li>
        </ul>
      </div>
    </footer>
  </div>
</section>

<section class="back-to-top">
  <div class="inner">
    <div class="back-to-top-wrapper">
      <span>Back to Top</span>
      <a id="toTop" href="#header"><img src="../img/icons/back-to-top.svg" width="28px" height="28px"></a>
    </div>
  </div>
</section>
<img style="display:none" src="../img/block-hero.jpg" alt="WideFix preview image" />
<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/main.scss">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<a style="display: none" href="../robots.txt" aria-label="robots"></a>
<a style="display: none" href="../sitemap.xml" aria-label="sitemap"></a>
