<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPVP4Z5" height="0" width="0"
  style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header">
  <div class="inner">
    <div class="logo">
      <a href="/">
        <img src="../img/logo/h-s.svg" width="136" height="30" alt="WIDEFIX Logo" />
      </a>
    </div>
    <nav class="top-nav">
      <ul>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://blog.widefix.com" target="_blank">Blog</a></li>
        <li><a href="/showcases">Showcases</a></li>
      </ul>
    </nav>
    <div class="cta-button">
      <a class="button primary small" href="https://calendly.com/andrei-kaleshka/30min" target="_blank" rel="nofollow">Schedule call</a>
    </div>
    <button class="menu-toggle">&#9776;</button>
  </div>
</header>
