<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
  w[l] = w[l] || []; w[l].push({
    'gtm.start':
      new Date().getTime(), event: 'gtm.js'
  }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NPVP4Z5');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="WideFix" />
<meta property="og:type" content="website">
<meta property="og:url" content="https://widefix.com">
<meta property="og:image" content="https://raw.githubusercontent.com/widefix/widefix/main/img/block-hero.jpg">
<meta property="og:image:width" content="1440" />
<meta property="og:image:height" content="786" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://raw.githubusercontent.com/widefix/widefix/main/img/block-hero.jpg" />
<meta name="twitter:creator" content="@ka8725" />
<meta name="twitter:site" content="@ka8725" />
<meta property="og:locale" content="en_US" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-" rel="stylesheet">

<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/main.scss">
