<article class="accordion expanded">
    <div class="accordion-title">
        <div class="title-with-icon">
            <img src="../img/showcases/systems-integrations.svg" alt="Systems integrations">
            <h3 class="h3">Systems Integrations</h3>
        </div>
        <div class="accordion-actions">
            <button type="button" class="accordion-button" aria-label="Filter">
                <img src="../img/showcases/acc-filter.svg" alt="Filter">
            </button>
            <button type="button" class="accordion-button accordion-action" aria-expanded="false" aria-label="Expand section">
            </button>
        </div>
    </div>
    <div class="accordion-content">
        <div class="accordion-swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide purple">
                    <h4>
                        Toptal:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag purple">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/wo.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="swiper-slide blue">
                    <h4>
                        Worship Online:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag blue">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/1.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="swiper-slide orange">
                    <h4>
                        Worship Online:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag orange">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/1.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="swiper-slide green">
                    <h4>
                        Worship Online:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag green">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/1.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="swiper-slide yellow">
                    <h4>
                        Worship Online:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag green">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/1.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="swiper-slide sea">
                    <h4>
                        Toptal:
                        Stripe Integration
                    </h4>
                    <p>We fixed data consistency issues between the app and Stripe.</p>
                    <div>
                        <button type="button" class="tag purple">
                            Stripe Integration
                        </button>
                    </div>
                    <div class="slide-footer">
                        <div class="client-img">
                            <a href="javascript:void(0)" alt="Worship Online"><img src="../img/showcases/clients/wo.svg" alt="Client"></a>
                        </div>
                        <a href="javascript:void(0)" class="slide-learn-more">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-prev-next">
                <button type="button" class="swiper-button-prev" aria-label="Previous slide">
                </button>
                <button type="button" class="swiper-button-next" aria-label="Next slide">
                </button>
            </div>
        </div>
    </div>
</article>