.hero {
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $media-md) {
            flex-direction: column;
        }
    }
    .hero-block-left {
        flex: 1;
        padding-right: 70px;
        @media (max-width: $media-md) {
            padding-right: 0;
        }
    
        h2 {
            font: $text-header-4xl;
            @include art-decoration('../img/decoration/optimise-text-border-bottom.svg', 5rem);
        }
        p {
            font: $text-body-display-s;
            color: $text-secondary;
            margin-top: 24px;
        }
    
        .button-container {
            margin-top: 32px;
        }
    
        .promise-block {
            margin-top: 32px;
            background: rgba(228, 228, 228, 0.2);
            border-radius: 16px;
            padding: 24px;
    
            .title {
                font: $text-body-display-s;
                color: $text-link-secondary-hover;
            }
    
            ul {
                display: flex;
                margin-top: 24px;
    
                li {
                    display: flex;
                    align-items: center;
                    margin-right: 24px;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    img {
                        margin-right: 8px;
                    }
    
                    span {
                        font: $text-body-meta-regular;
                        color: $text-secondary;
                    }
                }
            }
        }
    }

    .hero-block-right {
        @media (max-width: $media-md) {
            display: none;
        }
    }
}