.more-info {
    .block {
        p {
            text-align: justify;
            margin-bottom: 20px;
        }
        ul {
            text-align: justify;
            li {
                margin-bottom: 10px;
                font: $text-body-medium;
                color: $text-badge-solid;
                list-style: inside;
            }
        }
    }
}
